/* Existing CSS */
.form-gap {
    padding-top: 70px;
}

/* New CSS for your code */
.section-title {
    text-align: center;
}

.forms {
    margin-top: 20px;
}

.text-primary {
    color: #007bff; /* Adjust color as needed */
}

.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner-border .75s linear infinite;
}

@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}

.form-group {
    margin-bottom: 20px;
}

.error-message {
    color: red;
}
/* Button Style */
button[type="submit"] {
    display: inline-block;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #007bff; /* Button Background Color */
    color: #fff; /* Button Text Color */
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3; /* Button Background Color on Hover */
}
