<div class="form1">
  <div class="section-title">
    <h1 data-text="LoginForm">LoginForm</h1>
  </div>
  <div class="forms">
    <div class="form-wrapper" [ngClass]="{'is-active': activeForm === 'login'}">
      <form class="form form-login">
        <fieldset>
          <div class="input-block">
            <label for="email">E-mail</label>
            <input type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control" id="stname" placeholder="Enter Email" />
          </div>
          <div class="input-block">
            <label for="login-password">Password</label>
            <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control" id="stname" placeholder="Enter Password" />
          </div>
        </fieldset>
        <button type="submit" class="btn-login" (click)="login()">Login</button>
        <a>New user <a href="register" class="already" style="text-underline-position: below;">Signup here.</a></a>
      </form>
    </div>
  </div>
</div>


