.forms {
    background-color: #f0f0f0; 
    opacity: 100;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    }